{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}

{% block body %}
    <h1 class="section-title">All Posts</h1>
    {% if user.is_authenticated %}
        <div id="new-post-container">
            <h4>New Post</h4>
            <form id="new-post-form">
                <textarea id="new-post-content" class="form-control"></textarea>
                <input type="submit" class="btn btn-primary" value="Post">
            </form>
        </div>
    {% endif %}
{% endblock %}
