{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="all-posts-page">
        <h1 class="section-title">All Posts</h1>

        {% if user.is_authenticated %}
            <div id="new-post-container">
                <h4>New Post</h4>
                <form id="new-post-form">
                    <textarea id="new-post-content" class="form-control"></textarea>
                    <input class="btn btn-primary" type="submit" value="post">
                </form>
            </div>
        {% endif %}
    </div>

    <div id="profile-page">
        <div id="username-and-follow-or-unfollow-button-container">
            <span id="username-container"></span>
            <span id="follow-or-unfollow-button-container">
                {% if user.is_authenticated %}
                    <button id="follow-or-unfollow-button" class="btn btn-primary" data-user="{{ user.username }}"></button>
                {% endif %}
            </span>
        </div>
        <div id="followers-and-following-container"></div>
    </div>

    <div id="following-page">
        <h1 class="section-title">Following</h1>
    </div>
    
    <div id="posts"></div>

    <nav id="post-navigation">
        <ul id="post-navigation-options" class="pagination"></ul>
    </nav>
{% endblock %}
